.seg {
  background-color: rgba(53, 153, 68, 0.1);
  padding-top: 120px;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
  display: flex;
  align-items: center;
}
.line p {
  font-size: 14px;
  line-height: 0px;
}

.banner {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.title {
  font-size: 30px;
  line-height: 38px;
  margin: 20px 0;
}
.desc {
  width: 295px;
}
.pricePack {
  margin: 20px 0 26px;
}
.price p {
  font-size: 24px;
  line-height: 33.6px;
  margin-bottom: 10px;
}
.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 65px;
}
.btn,
.addToCart {
  width: 201px;
}

@media screen and (min-width: 400px) {
  .btn,
  .addToCart {
    width: 100%;
  }
  .btnGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
  }
}
@media screen and (min-width: 850px) {
  .seg {
    padding-top: 70px;
  }
  .infoBox {
    padding: 73px 20px 73px 0;
  }
  .desc {
    width: 400px;
  }
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
  /* .title {
    width: 400px;
    margin-right: 20px;
  } */

  .banner {
    width: 50%;
    aspect-ratio: auto;
    align-self: stretch;
  }
}

@media screen and (min-width: 1000px) {
  .seg {
    padding-top: 83.67px;
  }
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
  .title {
    width: 450px;
  }
  .desc {
    width: 400px;
  }
  .btnGroup {
    flex-direction: row;
    gap: 16px;
  }
  .btn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 44px;
    width: 480px;
  }
  .desc {
    font-size: 18px;
    line-height: 28px;
    width: unset;
    max-width: 500px;
  }
  .pricePack {
    display: flex;
    align-items: center;
  }
  .price {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid var(--primary-text-dark);
  }
  .price p {
    font-size: 24px;
    line-height: 33.6px;
    margin: 0;
  }
}

@media screen and (min-width: 1400px) {
  .title {
    width: 476px;
  }
}
@media screen and (min-width: 1540px) {
  .title {
    width: 520px;
  }
}
