.homenav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}
.wrapper {
  position: relative;
}
.logo {
  transform: translateX(-3.4px);
}

.box {
  display: flex;
  align-items: center;
}
.txtBox {
  display: flex;
  /* flex-direction: column; */
}
.txtBox p {
  font-size: 14px;
  cursor: pointer;
}
.txtBox p:first-of-type {
  margin-right: 14px;
}
.homenav button {
  width: 100px;
  margin-left: 14px;
  height: 48px;
}

.cartLink {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 14px;
}
.cartBadge {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: #e53935;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

@media screen and (min-width: 1000px) {
  .homenav {
    justify-content: center;
  }
  .frame,
  .box {
    position: absolute;
  }
  .frame {
    left: 0;
  }
  .box {
    right: 0;
  }
}

@media screen and (min-width: 1400px) {
  .txtBox p {
    font-size: 16px;
    line-height: 24px;
  }
  .txtBox p:first-of-type {
    margin-right: 40px;
  }
  .homenav button {
    width: 147px;
    margin-left: 24px;
  }
}
