.frame {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  border-bottom: 1px solid #e3e7ef;
  margin-bottom: 25px;
}
.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  transform: translateX(-3.4px);
}
.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  height: 90vh;
  padding-bottom: 24px; */
}
.cart {
  position: relative;
  display: inline-flex;
}
.cartBadge {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: #e53935;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.searchbox p {
  margin: 22px 0;
}
.searchbox p:last-of-type {
  margin-top: 0;
}
.btnPack {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  margin-top: 20px;
}

@media screen and (min-width: 500px) {
  .wrapper {
    align-items: center;
  }
  .searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .frame {
    min-height: 300px;
  }
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .searchbox {
    align-items: flex-start;
  }
  .searchbox p {
    margin: 28px 0 22px;
  }
  .searchbox p:last-of-type {
    margin-bottom: 0;
  }
  .btnPack {
    width: 230px;
    margin: 0;
  }
}
