.contentTab {
  width: 100%;
  box-shadow: 0px 2px 4px -2px #1018280f;
  box-shadow: 0px 4px 8px -2px #1018281a;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--primary-white-100);
  margin-bottom: 40px;
}
.heading {
  margin-bottom: 10px;
}

.accordion {
  width: 295px;
}
.accordionItem {
  width: 100%;
  transition: height 1s linear;
  border: 1px solid var(--border-color-50);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.topWrap {
  padding: 13px 20px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: var(--primary-white-150);
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.mainTitle {
  font-size: 14px;
  line-height: 20px;
}
.fullDuration {
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-grey-50);
}
.bottomWrap {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease;
  padding: 0 10px;
  width: 100%;
}
.clip {
  background-color: var(--primary-orange);
  padding: 20px;
  border-radius: 10px;
}
.lockedClip {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.clip p {
  color: var(--primary-white-50);
}
.line p {
  line-height: 18px;
  margin-left: 3px;
}
.title {
  font-size: 14px;
  line-height: 20px;
}
.duration {
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-grey-50);
}
.lockBox {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color-100);
}
.accordionItem.open .bottomWrap {
  display: block;
  max-height: 600px;
  padding: 10px;
}
.accordionItem .arrow {
  transform: rotate(180deg);
}

.accordionItem.open .arrow {
  transform: rotate(360deg);
}

@media screen and (min-width: 400px) {
  .accordion {
    width: 100%;
  }
}

/* @media screen and (min-width: 1000px) {
  .accordion {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .accordion {
    width: 900px;
  }
}

@media screen and (min-width: 1540px) {
  .accordion {
    width: 1042px;
  }
} */
