.logoutModal {
  /* background-image: url("/images/logout-bg.svg");
  background-repeat: no-repeat;
  background-position: top left; */
  width: 360px;
  padding: 24px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.badge {
  display: flex;
  margin-bottom: 16px;
}
.logoutBg {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: -1;
}

.badgeOuter {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--badge-amber-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeInner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--badge-amber-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 4px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-grey-50);
  margin-bottom: 24px;
}

.actions {
  display: flex;
  gap: 12px;
}

.cancelBtn {
  background-color: var(--border-color-100);
  color: var(--primary-orange);
  border: none;
}

.actions button {
  flex: 1;
}
