.spinnerFrame {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--primary-orange);
  border-right-color: #b7c7d7;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
