.examcard {
  border-radius: 4px;
  border: 1.6px solid #d1d5db;
  display: flex;
  align-items: center;
  transition: border 0.1s ease-in-out;
  position: relative;
}
.selectable {
  cursor: pointer;
}
.selected {
  border: 1.6px solid #10b981;
}
.circle {
  background-color: #01c04f;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -12px;
  top: -10px;
}
.logobox {
  height: 96px;
  display: flex;
  align-items: center;
}
.desc {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 18px;
    line-height: 28px;
  }
}
