/* OTPModal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-black-100);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* min-height: 100vh; */
  overflow-y: auto;
  padding: 20px;
}

.modal {
  margin: auto;
  background: var(--primary-white-50);
  width: 320px;
  /* max-width: 100%; */
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 24px 38px 24px;
}

.line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.closeBtn {
  /* position: absolute; */
  top: 10px;
  right: 20px;
  width: fit-content;
  height: fit-content;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: var(--primary-grey-0);
  line-height: 1;
  transition: color 0.2s;
}

.closeBtn:hover {
  color: var(--primary-black-50);
}

.content {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 32px;
  margin-bottom: 8px;
  color: var(--primary-black-50);
}

.description {
  color: var(--primary-grey-100);
  margin-bottom: 32px;
  line-height: 1.5;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emailInput {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: 2px solid var(--primary-grey-300);
  border-radius: 8px;
  transition: all 0.2s linear;
  color: var(--primary-orange);
}

.emailInput:focus {
  outline: none;
  border: 2px solid var(--primary-orange);
}

.submitBtn {
  transition: background-color 0.2s;
}

.submitBtn:hover:not(:disabled) {
  background-color: var(--primary-grey-100);
}

.submitBtn:disabled {
  background-color: var(--primary-grey-0);
  cursor: not-allowed;
}

.otpContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  margin-bottom: 32px;
}

.otpInput {
  height: 56px;
  min-width: 0;
  font-size: 24px;
  text-align: center;
  border: 2px solid var(--primary-grey-300);
  border-radius: 8px;
  transition: all 0.2s;
  font-weight: 600;
  color: var(--primary-orange);
}

.otpInput:focus {
  outline: none;
  border: 2px solid var(--primary-orange);
}

.otpInput:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.verifyBtn {
  transition: background-color 0.2s;
  margin-bottom: 16px;
}

.verifyBtn:hover:not(:disabled) {
  background-color: var(--primary-grey-100);
}

.verifyBtn:disabled {
  background-color: var(--primary-grey-0);
  cursor: not-allowed;
}

.resendBtn {
  height: fit-content;
  background: none;
  border: none;
  color: var(--primary-grey-100);
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
}

.resendBtn:hover:not(:disabled) {
  color: var(--primary-black-50);
}

.resendBtn:disabled {
  color: #ccc;
  cursor: not-allowed;
}
